slurm*
*_cache/
data/*
src/data/*
.DS_Store
.ipynb_checkpoints/
*.pyc
*.html
*.AVI
analysis/detections_rendered/*
annotations/face_hands/pilot_hits/*
.Rproj.user
.Rhistory
annotations/face_hands/experiment/test_hits/test_hit_12419_redo.xlsx
