2_extract_frame_times/data
.idea/*
tmp/
data/final_output/openpose_results.csv
*_cache/
.DS_Store
data/consolidated_data.csv
data/.DS_Store
data/final_output/*
data/consolidateddata/*
data/final_output/openpose_results*
.Rhistory
.Rproj.user/
xs-face.Rproj
.idea
.nfs*
slurm-*
*.pyc
*.html
cdi/
cdi_summary.csv
writeup-cogsci-copy/cogsci2018_cache/*
analysis-main/main_analyses_bll_cache/*
analysis-main/main_analyses_bll_files/*
figs/

.Rproj.user
