slurm*
*_cache/
data/*
src/data/*
.DS_Store
.ipynb_checkpoints/
*.pyc
*.AVI
*.jpg
analysis/detections_rendered/*
annotations/face_hands/pilot_hits/*
.Rproj.user
.Rhistory
annotations/face_hands/experiment/test_hits/test_hit_12419_redo.xlsx
annotations/face_hands/analysis/annotated-images/*
annotations/face_hands/analysis/pilot_hits/Batch_3855517_batch_results.csv
annotations/face_hands/analysis/pilot_hits/first_6.csv
annotations/face_hands/analysis/pilot_hits/two_workers.csv
